@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilo básico de la barra de desplazamiento */
:root {
  --scrollbar-color: #AAAAAA;
  /* Color por defecto */
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}


::-webkit-scrollbar-track {
  background: transparent;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 5px;
}

/* Cambiar el color del pulgar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

/* Quitar los botones de incremento y decremento de los input tipo número */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 1000ms ease;
}

.container:hover::-webkit-scrollbar-thumb {
  background-color: #5E5E5E;
}

/* Mobile Layout */
.mobile-version {
  display: none; /* Initially hide mobile layout */
}

/* Desktop Layout */
.desktop-version {
  display: none; /* Initially hide desktop layout */
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .mobile-version {
      display: block; /* Show mobile layout */
  }
  .desktop-version {
      display: none; /* Hide desktop layout on mobile devices */
  }
}

/* Media Query for Desktop Devices */
@media only screen and (min-width: 769px) {
  .mobile-version {
      display: none; /* Hide mobile layout on desktop devices */
  }
  .desktop-version {
      display: block; /* Show desktop layout */
  }
}